
<body>
  <h1>My Applications</h1>

<%= link_to "Register a new application", new_application_path %>


<table>
  <thead>
    <tr>
      <th>Application</th>
      <th>Created at</th>
      <th>Company</th>
      <th>Status</th>
      <th>Description</th>
      <th colspan="3">Options</th>
    </tr>
  </thead>
  <tbody>
    <% @applications.each do |application| %>
      <tr>
        <td><%= application.name %></td>
        <td><%= application.created_at.strftime("%d. %m %Y") %></td>
        <td> <%=application.company %> Company </td>
        <td> <%=application.status %> status </td>
        <td> <%=application.description %></td>
        <td><%= link_to 'Show', application %></td>
        <td><%= link_to 'Edit', edit_application_path(application) %></td>
        <td><%= link_to 'Destroy', application, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
  </table>
</body>

