
<body class="myapplications-index">
  <h1>My Applications</h1>
<div class="listing">
  <div class="newapp">
    <%= link_to "Register a new application", new_application_path %>
  </div>
  <div class="my-applications">
    <% @applications.each do |application| %>
      <div class="job-card">
        <h2><%= application.name %></h2>
        <div class="job-card-body">
          <p>Company: <%= application.company %></p>
          <p>Status: <%= application.status || "Not specified" %> </p>
          <p>Location: <%= application.location %></p>
        </div>
        <div class="actions-card">
          <%= link_to "Show", application_path(application) %>
          <%= link_to "Edit", edit_application_path(application) %>
          <%= link_to "Delete", application_path(application), method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
      </div>
    <% end %>
  </div>
</div>
</body>

